:root {
--rose-900: #881337;
--rose-800: #9F1239;
   --rose-700: #BE123C;
   --rose-600: #E11D48;
   --rose-500: #F43F5E;
   --rose-400: #FB7185;
   --rose-300: #FDA4AF;
   --rose-200: #FECDD3;
   --rose-100: #FFE4E6;
   --rose-50: #FFF1F2;
}

.message {
	border-left: 4px solid black;
	padding: 0.5rem 1rem;
}
.message.danger {
	border-color: var(--rose-700);
	color: var(--rose-700);
	margin-bottom: 16px;
	font-weight: bold;
	background: var(--rose-50);
}
.message p {
	margin-bottom: 0;
}
.message p+p {
	margin-top: 16px;
}

